<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }} "></script>
<script src="{{ "/assets/js/typeahead.bundle.min.js" | relative_url }} "></script>
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="{{ "/assets/js/main.js" | relative_url }} "></script>
